.animate-opacity {
	transition-duration: 0.7s;
	transition-property: opacity;
}

.animate-bottom {
	transition-duration: 0.5s;
	transition-property: bottom;
}

.hide-UI {
	opacity: 0%;
}

.unhide-UI {
	opacity: 100%;
}

.hide-mouse {
	cursor: none;
}

.no-bottom-space {
	bottom: 0rem;
}